.row-header {
  margin: 0px auto;
  padding: 0px auto;
}

.row-content {
  margin: 0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}

.footer {
  margin: 0px auto;
  padding: 20px 0px 20px 0px;
}

address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f;
}

.navbar-dark {
  background-color: rgb(15, 15, 15);
}
.jumbotron {
  background-color: #e9ecef;
  border-radius: 0.3rem;
  padding: 70px 30px 70px 30px;
  margin: 0px auto;
  margin-top: 30px;
  max-width: 1000px;
}

.card {
  height: 100%;
}

.cardImg {
  height: 140px;
  overflow: hidden;
}

h6 {
  color: #707070;
}

.buttons {
  width: 80px;
}

.classImg {
  height: 140px;
  width: auto;
}
